.header {
  text-align: center;
}

.header__heading {
  font-size: 40px;
  color: #000000;
}

.header__description {
  font-size: 24px;
  color: #8b8b8b;
}

.main__section {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  background-color: #ffffff;
  padding: 1rem;
}

.space {
  margin: 3rem;
}

@media screen and (min-width: 400px) {
  .main__section {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 400px) {
  .main__section {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 640px) {
  .main__section {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (min-width: 768px) {
  .main__section {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
}
